article(class="post")
    div(class="article_img")
        div(class="social_layout")
            a(href="facebook" class="fb-btn")
                img(src="img/fb.png")
            a(href="#" class="tw-btn")
                img(src="img/tw.png")
            a(href="#" class="gp-btn")
                img(src="img/gp.png")
        a(href="#")
            img(class="primary-img" src="img/article.jpg")
    div(class="article_box")
        h2
            a(href="#") Titulo del articulo
        p(class="author") Por
            a(href="#") David Armento
        p(class="author") 06 de Enero 2017 en
            strong PHP
        p(class="likes") 06 de Enero 2017 en
            img(src="img/like.png" align="absmiddle")
            5
        p(class="comments")
            img(src="img/comment.png" align="absmiddle")
            10
        div(class="clear")
