doctype
html
    head
        meta(charset="utf-8")
        title David Armento - Blog principal
        link(rel="stylesheet" href="css/style.css")
        link(href="https://fonts.googleapis.com/css?family=Oswald|Roboto:300,400,500" rel="stylesheet")
    body
      header
          a(href="javascript:void(0);" class="menu-opener")
              img(src="img/icons-menu.png" align="absmiddle")
              span MENÚ
          a(class="logo" href="#")
              span &lt;
              | DAVID ARMENTO
              span /&gt;
          div(class="btn")
              a(href="#")
                  | UN POCO
                  strong SOBRE MI
              a(href="#" class="button") CONTACTAR
      nav
          ul
              li
                  a(href="#" class="close")
                      img(class="menu-close" src="img/close.png")
              li
                  a(href="#" class="active") Home
              li
                  a(href="#") PHP
              li
                  a(href="#") Juegos
              li
                  a(href="#") Node.js
              li
                  a(href="#") Hardware
              li
                  a(href="#") Sobre mi
              li
                  a(href="#") Contacto

      div(class="slider")
          h1 Blog personal sobre&nbsp;
            span marketing,
            br
            | desarrollo web y&nbsp;
            span tecnología...
          div(align="center")
              ul(class="categories")
                  li
                      a(href="#") Php
                  li
                      a(href="#") Juegos
                  li
                      a(href="#") Node.JS
                  li
                      a(href="#") Hardware
      div(class="container")
          div(class="pad")
              h2 Últimos posts
                span Dentro de PHP
              ul(class="categories")
                  li
                      a(href="#" class="active") TODAS LAS CATEGORÍAS
                  li
                      a(href="#") Php
                  li
                      a(href="#") Juegos
                  li
                      a(href="#") Node.JS
                  li
                      a(href="#") Hardware
              div(class="clear")
          div(class="row")
              div(class="col-md-4")
                  article(class="post")
                      div(class="article_img")
                          div(class="social_layout")
                              a(href="facebook" class="fb-btn")
                                  img(src="img/fb.png")
                              a(href="#" class="tw-btn")
                                  img(src="img/tw.png")
                              a(href="#" class="gp-btn")
                                  img(src="img/gp.png")
                          a(href="#")
                              img(class="primary-img" src="img/article.jpg")
                      div(class="article_box")
                          h2
                              a(href="#") Titulo del articulo
                          p(class="author") Por
                              a(href="#") David Armento
                          p(class="author") 06 de Enero 2017 en&nbsp;
                              strong PHP
                          p(class="likes")
                              img(src="img/like.png" align="absmiddle")
                              | &nbsp;5
                          p(class="comments")
                              img(src="img/comment.png" align="absmiddle")
                              | &nbsp;10
                          div(class="clear")

              div(class="col-md-4")
                  article(class="post")
                      div(class="article_img")
                          div(class="social_layout")
                              a(href="facebook" class="fb-btn")
                                  img(src="img/fb.png")
                              a(href="#" class="tw-btn")
                                  img(src="img/tw.png")
                              a(href="#" class="gp-btn")
                                  img(src="img/gp.png")
                          a(href="#")
                              img(class="primary-img" src="img/article.jpg")
                      div(class="article_box")
                          h2
                              a(href="#") Titulo del articulo
                          p(class="author") Por
                              a(href="#") David Armento
                          p(class="author") 06 de Enero 2017 en&nbsp;
                              strong PHP
                          p(class="likes")
                              img(src="img/like.png" align="absmiddle")
                              | &nbsp;5
                          p(class="comments")
                              img(src="img/comment.png" align="absmiddle")
                              | &nbsp;10
                          div(class="clear")

              div(class="col-md-4")
                  article(class="post")
                      div(class="article_img")
                          div(class="social_layout")
                              a(href="facebook" class="fb-btn")
                                  img(src="img/fb.png")
                              a(href="#" class="tw-btn")
                                  img(src="img/tw.png")
                              a(href="#" class="gp-btn")
                                  img(src="img/gp.png")
                          a(href="#")
                              img(class="primary-img" src="img/article.jpg")
                      div(class="article_box")
                          h2
                              a(href="#") Titulo del articulo
                          p(class="author") Por
                              a(href="#") David Armento
                          p(class="author") 06 de Enero 2017 en&nbsp;
                              strong PHP
                          p(class="likes")
                              img(src="img/like.png" align="absmiddle")
                              | &nbsp;5
                          p(class="comments")
                              img(src="img/comment.png" align="absmiddle")
                              | &nbsp;10
                          div(class="clear")

          div(class="clear")

          div(class="pad")
              h2 Post recomendados
                strong Dentro de PHP
              div(class="clear")
          div(class="row")
              div(class="col-md-3")
                  article(class="post")
                      div(class="article_img")
                          div(class="social_layout")
                              a(href="facebook" class="fb-btn")
                                  img(src="img/fb.png")
                              a(href="#" class="tw-btn")
                                  img(src="img/tw.png")
                              a(href="#" class="gp-btn")
                                  img(src="img/gp.png")
                          a(href="#")
                              img(class="primary-img" src="img/article.jpg")
                      div(class="article_box")
                          h2
                              a(href="#") Titulo del articulo
                          p(class="author") Por
                              a(href="#") David Armento
                          p(class="author") 06 de Enero 2017 en&nbsp;
                              strong PHP
                          p(class="likes")
                              img(src="img/like.png" align="absmiddle")
                              | &nbsp;5
                          p(class="comments")
                              img(src="img/comment.png" align="absmiddle")
                              | &nbsp;10
                          div(class="clear")
              div(class="col-md-3")
                  article(class="post")
                      div(class="article_img")
                          div(class="social_layout")
                              a(href="facebook" class="fb-btn")
                                  img(src="img/fb.png")
                              a(href="#" class="tw-btn")
                                  img(src="img/tw.png")
                              a(href="#" class="gp-btn")
                                  img(src="img/gp.png")
                          a(href="#")
                              img(class="primary-img" src="img/article.jpg")
                      div(class="article_box")
                          h2
                              a(href="#") Titulo del articulo
                          p(class="author") Por
                              a(href="#") David Armento
                          p(class="author") 06 de Enero 2017 en&nbsp;
                              strong PHP
                          p(class="likes")
                              img(src="img/like.png" align="absmiddle")
                              | &nbsp;5
                          p(class="comments")
                              img(src="img/comment.png" align="absmiddle")
                              | &nbsp;10
                          div(class="clear")
              div(class="col-md-3")
                  article(class="post")
                      div(class="article_img")
                          div(class="social_layout")
                              a(href="facebook" class="fb-btn")
                                  img(src="img/fb.png")
                              a(href="#" class="tw-btn")
                                  img(src="img/tw.png")
                              a(href="#" class="gp-btn")
                                  img(src="img/gp.png")
                          a(href="#")
                              img(class="primary-img" src="img/article.jpg")
                      div(class="article_box")
                          h2
                              a(href="#") Titulo del articulo
                          p(class="author") Por
                              a(href="#") David Armento
                          p(class="author") 06 de Enero 2017 en&nbsp;
                              strong PHP
                          p(class="likes")
                              img(src="img/like.png" align="absmiddle")
                              | &nbsp;5
                          p(class="comments")
                              img(src="img/comment.png" align="absmiddle")
                              | &nbsp;10
                          div(class="clear")
              div(class="col-md-3")
                  article(class="post")
                      div(class="article_img")
                          div(class="social_layout")
                              a(href="facebook" class="fb-btn")
                                  img(src="img/fb.png")
                              a(href="#" class="tw-btn")
                                  img(src="img/tw.png")
                              a(href="#" class="gp-btn")
                                  img(src="img/gp.png")
                          a(href="#")
                              img(class="primary-img" src="img/article.jpg")
                      div(class="article_box")
                          h2
                              a(href="#") Titulo del articulo
                          p(class="author") Por
                              a(href="#") David Armento
                          p(class="author") 06 de Enero 2017 en&nbsp;
                              strong PHP
                          p(class="likes")
                              img(src="img/like.png" align="absmiddle")
                              | &nbsp;5
                          p(class="comments")
                              img(src="img/comment.png" align="absmiddle")
                              | &nbsp;10
                          div(class="clear")
          div(class="clear")

      footer
          div(class="container")
              div(class="row")
                  div(class="col-md-6")
                      | www.
                      strong davidarmento
                      | .com
                      br
                      br
                      span
                          a(href="#") Contactar
                          | &nbsp;/&nbsp;
                          a(href="#") Aviso legal
                          | &nbsp;/&nbsp;
                          a(href="#") Política de privacidad
                  div(class="col-md-6 text-right")
                      strong Follow me
                      | , only if you really mean it!
                      br
                      br
                      a(href="#")
                          img(width="48" height="48" src="img/github.png" alt="GitHub")
                          | &nbsp;
                      a(href="#")
                          img(width="48" height="48" src="img/stackoverflow.png" alt="Stack Overflow")
                          | &nbsp;
                      a(href="#")
                          img(width="48" height="48" src="img/facebook.png" alt="Facebook")
                          | &nbsp;
                      a(href="#")
                          img(width="48" height="48" src="img/twitter.png" alt="Twitter")
                          | &nbsp;
                      a(href="#")
                          img(width="48" height="48" src="img/linkedin.png" alt="Linked In")
                          | &nbsp;
                      a(href="#")
                          img(width="48" height="48" src="img/google.png" alt="Google Plus")
                          | &nbsp;
                      a(href="#")
                          img(width="48" height="48" src="img/instagram.png" alt="Instagram")
                          | &nbsp;
                      a(href="#")
                          img(width="48" height="48" src="img/youtube.png" alt="Youtube")
                          | &nbsp;

                  div(class="clear")
                  div(class="bt-gotop")
      div(class="clear")
      script(type="text/javascript" src="js/jquery.js")
      script(type="text/javascript" src="js/funks.js")
